
	/* mobile */
		/* header-section */
				@media(min-width:320px){
					.container{
						width:95%;
						margin:auto;
					}
					.head-menu{
						display:block;
					}
					.head-nav{
						display:none;
					}
					#mentor-section{
						height:90vh;
						width:100%;
						background-position:center;
					}
					.card-row-1{
						display:flex;
						flex-wrap:wrap;
					}
					.card-col-1{
						width:100%;
					}
					.action-contant{
						text-align:center;
						display:flex;
						flex-wrap:wrap;
					}
					#call-to-action{
						height:30vh;
					}
					.action-col{
						width:50%;
						padding:10px 0;
					}
					#about-section{
						height:210vh;
					}
					.about-col-1{
						width:100%;
						 display:flex;
						flex-wrap:wrap;
					}
					.about-col-2{
						width:100%;
						 display:flex;
						 flex-wrap:wrap;
					}
					.about-right-col{
						width:100%;
					}
					.about-card{
						 width:100%; 
						height:150vh;
					}
					.about-row{
						display:flex;
						flex-wrap:wrap;
					}
					#btn-section{
						height:150vh;
					}
					.btn-col{
						width:100%;
					}
					.btn-row{
						display:flex;
						flex-wrap:wrap;
						
					}
					
					#course-section{
						height:220vh;
					}
					.course-row{
						display:flex;
						flex-wrap:wrap;
					}
					.course-col{
						width:100%;
						padding-bottom:20px;
					}
					#trainer-section{
						height:260vh;
						padding-top:5%;
					}
					.trainer-row{
						display:flex;
						flex-wrap:wrap;	
	
					}
					.trainer-col{
						width:100%;
					}
					#events-section{
						height:170vh;
						padding-top:3%;
					}
					.events-row{
						display:flex;
						flex-wrap:wrap;
					}
					.events-col{
						width:100%;
						padding-bottom:65%
					}
					.events-con{
						position:absolute;
						bottom:-75%;
						left:6%;
					}
					.pricing-row{
						display:flex;
						flex-wrap:wrap;
					}
					.pricing-col{
						width:100%;
					}
					.form-col{
						width:100%;
					}
					.contact-col-2{
						width:100%;
					}
					.contact-col-3{
						width:100%;
					}
					.contact-row-1{
						display:flex;
						flex-wrap:wrap;	
					}
					#contact-section{
						height:250vh;
					}
					#footer-section{
						height:130vh;
					}
					.footer-row{
						display:flex;
						flex-wrap:wrap;
					}
					.footer-col{
						width:100%;
					}
					.footer-in a{
						position:absolute;
						bottom:21%;
						right:5%;
					}
					
				}
		
		
		
		
		
	/* I pad */
		/* header-section */
			@media(min-width:760px){
				.container{
						width:85%;
						margin:auto;
					}
				
				.head-menu{
							display:block;
						}
						.head-nav{
							display:none;
						}
						#mentor-section{
							height:60vh;
							width:100%;
					background-position:center;
							
						}
						.card-row-1{
	
						display:flex;
						flex-wrap:no-wrap;
					}
					.card-col-1{
						width:100%;
					}
					.action-contant{
						text-align:center;
						display:flex;
						flex-wrap:nowrap;
					}
					#call-to-action{
						height:10vh;
					}
					.action-col{
						width:25%;
						 
					}
					#about-section{
						height:115vh;
					}
					.about-col-1{
						width:100%;
						
					}
					.about-right-col{
						width:100%;
					}
					.about-col-2{
						width:100%;
						 display:flex;
						 flex-wrap:wrap;
					}
					.about-card{
						 width:100%; 
						height:50vh;
					}
					.about-row{
						display:flex;
						flex-wrap:wrap;
					}
					#btn-section{
						height:35vh;
					}
					.btn-col{
						width:33.33%;
					}
					.btn-row{
						display:flex;
						flex-wrap:wrap;
						justify-content:space-between;	
						
					}
					#course-section{
						height:90vh;
					}
					.course-row{
						display:flex;
						flex-wrap:wrap;
					}
					.course-col{
						width:50%;
						padding-bottom:20px;
					}
					#trainer-section{
						height:100vh;
						padding-top:1%;
					}
					.trainer-row{
						display:flex;
						flex-wrap:wrap;	
	
					}
					.trainer-col{
						width:50%;
					}
					#events-section{
						height:80vh;
						padding-top:50%;
					}
					.events-row{
						display:flex;
						flex-wrap:nowrap;
					}
					.events-col{
						width:50%;
						padding-right:5%
					}
					.events-con{
						position:absolute;
						bottom:-90%;
						left:5%;
					}
					.pricing-row{
						display:flex;
						flex-wrap:wrap;
					}
					.pricing-col{
						width:50%;
					}
					.form-col{
						width:50%;
					}
					.contact-col-2{
						width:100%;
					}
					.contact-col-3{
						width:100%;
					}
					#contact-section{
						height:150vh;
					}
					.contact-row-1{
						display:flex;
						flex-wrap:wrap;	
					}
					#footer-section{
						height:50vh;
					}
					.footer-row{
						display:flex;
						flex-wrap:wrap;
					}
					.footer-col{
						width:50%;
					}
					.footer-in a{
						position:absolute;
						bottom:21%;
						right:5%;
					}
			}
		
		
	/* labtop */
		/* header-section */
			@media(min-width:960px){
				.container{
						width:80%;
						margin:auto;
					}
				.head-menu{
						display:none;
					}
					.head-nav{
						display:block;
					}
					#mentor-section{
						height:80vh;
						width:100%;
						background-position:center;
					}
					.card-row-1{
	
						display:flex;
						flex-wrap:nowrap;
					}
					.card-col-1{
						width:50%;
					}
					.action-contant{
						text-align:center;
						display:flex;
						flex-wrap:nowrap;
					}
					
					#call-to-action{
						height:25vh;
					}
					.action-col{
						width:25%;
						}
						#about-section{
							height:80vh;
						}
						.about-col-1{
						width:30%;
						

						}
					.about-col-2{
						width:70%;
					 display:flex;
					 flex-wrap:nowrap;
					}
					.about-right-col{
						width:100%;
					}
					.about-card{
						 width:30%; 
						height:50vh;
					}
					.about-row{
						display:flex;
						flex-wrap:nowrap;
					}
					#btn-section{
						height:50vh;
					}
					.btn-col{
						width:25%;
					}
					.btn-row{
					display:flex;
					flex-wrap:wrap;
					justify-content:space-between;
					
				}
				#course-section{
						height:70vh;
					}
					.course-row{
						display:flex;
						flex-wrap:nowrap;
					}
					.course-col{
						width:33.33%;
						padding-right:20px;
					}
					#trainer-section{
						height:100vh;
						padding-top:5%;
					}
					.trainer-row{
						display:flex;
						flex-wrap:nowrap;	
	
					}
					.trainer-col{
						width:33.33%;
						
					}
					#events-section{
						height:100vh;
						padding-top:5%;
							
					}
					.events-row{
						display:flex;
						flex-wrap:nowrap;
					}
					.events-col{
						width:50%;
						padding-right:5%
					}
					.events-con{
						position:absolute;
						bottom:-40%;
						left:5%;
					}
					.pricing-row{
						display:flex;
						flex-wrap:nowrap;
					}
					.pricing-col{
						width:25%;
					}
					.form-col{
						width:50%;
					}
					.contact-col-2{
						width:35%;
					}
					.contact-col-3{
						width:65%;
					}
					.contact-row-1{
						display:flex;
						flex-wrap:nowrap;	
					}
					#contact-section{
						height:210vh;
					}
					#footer-section{
						height:50vh;
					}
					.footer-row{
						display:flex;
						flex-wrap:nowrap;
					}
					.footer-col{
						width:25%;
					}
					.footer-in a{
						position:absolute;
						bottom:20%;
						right:5%;
					}
			}	